@model Data.Domain.LSet

@{
    ViewBag.Title = "Set Details";
}

<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".wishlist").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Wishlist/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        alert("Set added to your wishlist");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
            $(".inventory").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        alert("Set added to your inventory");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="details">
        <dl class="dl-horizontal">
            <dt>
                Name:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ime)
            </dd>
            <dt>
                Year:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GodinaProizvodnje)
            </dd>
            <dt>
                Number of parts:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DijeloviBroj)
            </dd>
            <dt>
                Description:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>
            <dt>
                Theme:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tema.ImeTema)
            </dd>
            @if (Model.Tema.NadTema != null)
            {

                <dt>
                    Base theme:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tema.NadTema.ImeTema)
                </dd>
            }
            <dd>
                <i class="fa fa-star fa-lg active wishlist" value="@Model.Id" title="Add to wishlist"></i>
                <i class="fa fa-plus-circle fa-lg active inventory" value="@Model.Id" title="Add to my inventory"></i>
            </dd>
            <dd>
                <a href="/Block/SetParts?setId=@Model.Id" style="color:black"><i class="fa fa-cubes fa-lg" aria-hidden="true"></i>View parts</a>
            </dd>
        </dl>

    </div>
</body>