@model Data.Domain.User
@{
    ViewBag.Title = "Profile";
}
<body>
    <h2>@Model.FirstName @Model.LastName</h2>

    <label style="color:rgb(225, 227, 232)">Email: @Model.Email</label>

    <hr />
    <label style="color:rgb(225, 227, 232); margin-bottom:1em">@Model.FirstName's sets</label>
    <table class="table" id="setsTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Theme
            </th>
            <th>
                Owns
            </th>
            <th>
                Built
            </th>
        </tr>

        @foreach (var item in ViewBag.sets)
        {
            <tr>
                <td>
                    @item.LSet.Name
                </td>
                <td>
                    @item.LSet.Theme.Name
                </td>
                <td>
                    @item.Owned
                </td>
                <td>
                    @item.Built
                </td>
            </tr>
        }

    </table>
</body>


