@model Web.Models.SearchSetModel

<div class="search-area">
    @using (Html.BeginForm("Sets", "Search", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Theme", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ThemeName, Model.Themes, "---", "Text")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Number of pieces", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinPieces, new { @class = "form-control" }) 
                -
                @Html.TextBoxFor(m => m.MaxPieces, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</div>