@{
    ViewBag.Title = "Search Sets";
}
<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".wishlist").click(function (e) {
                e.preventDefault();
                $.get("/Wishlist/AddAjax", { setId: $(this).attr("value") }, function (response) {
                });
                alert("Set added to your wishlist");
            });
            $(".inventory").click(function (e) {
                e.preventDefault();
                $.get("/Inventory/AddAjax", { setId: $(this).attr("value") }, function (response) {
                });
                alert("Set added to your inventory");
            });
        });
    </script>
</head>

@Html.Partial("_setsSearchPartial");

<table class="table" id="setsTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Theme
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.sets)
    {
        <tr>
            <td>
                @item.Ime
            </td>
            <td>
                @item.GodinaProizvodnje
            </td>
            <td>
                @item.Tema.ImeTema
            </td>
            <td>
                <i class="fa fa-star fa-lg active wishlist" value="@item.Id" title="Add to wishlist"></i>
                <i class="fa fa-plus-circle fa-lg active inventory" value="@item.Id" title="Add to my inventory"></i>
                <a href="/Set/Details?setId=@item.Id" title="Details"><i class="fa fa-arrow-right fa-lg"></i></a>
            </td>
        </tr>
    }

</table>
