@model Web.Models.SearchSetModel
@{
    ViewBag.Title = "My Set Wishlist";
}
<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".wishlist-add").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Wishlist/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
            $(".wishlist-remove").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Wishlist/RemoveAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h2>@ViewBag.Title</h2>

    @Html.Partial("_setsSearchPartial");

    <table class="table" id="setsTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Theme
            </th>
            <th>
                Year
            </th>
            <th>
                Parts
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.listItems)
        {
            <tr>
                <td>
                    @item.LSet.Name
                </td>
                <td>
                    @item.LSet.Theme.Name
                </td>
                <td>
                    @item.LSet.ProductionYear
                </td>
                <td>
                    @item.LSet.NumberOfParts
                </td>
                <td>
                    @item.Number
                    <i class="fa fa-plus-circle fa-lg active wishlist-add" value="@item.LSet.Id" title="Add one"></i>
                    <i class="fa fa-minus-circle fa-lg active wishlist-remove" value="@item.LSet.Id" title="Remove one"></i>
                </td>
            </tr>
        }

    </table>
</body>