@{
    ViewBag.Title = "Builder Assistant";
}
<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".wishlist").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Wishlist/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        alert("Set added to your wishlist");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
            $(".inventory").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        alert("Set added to your inventory");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        });
    </script>
</head>

<h2>Sets you can build</h2>

<table class="table" id="setsTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Theme
        </th>
        <th>
            Year
        </th>
        <th>
            Pieces
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.sets)
    {
        <tr>
            <td>
                @item.Ime
            </td>
            <td>
                @item.Tema.ImeTema
            </td>
            <td>
                @item.GodinaProizvodnje
            </td>
            <td>
                @item.DijeloviBroj
            </td>
            <td>
                <i class="fa fa-star fa-lg active wishlist" value="@item.Id" title="Add to wishlist"></i>
                <i class="fa fa-plus-circle fa-lg active inventory" value="@item.Id" title="Add to my inventory"></i>
                <a href="/Set/Details?setId=@item.Id" title="Details"><i class="fa fa-arrow-right fa-lg"></i></a>
            </td>
        </tr>
    }

</table>
