
@{
    ViewBag.Title = "My Sets";
}

<head runat="server">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".inventory-add").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/AddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(message);
                    }
                });
            });
            $(".inventory-remove").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/RemoveAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(message);
                    }
                });
            });
            $(".built-add").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/BuiltAddAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(message);
                    }
                });
            });
            $(".built-remove").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/Inventory/BuiltRemoveAjax',
                    data: { setId: $(this).attr("value") },
                    dataType: 'json',
                    cache: false,
                    timeout: 7000,
                    success: function (data) {
                        location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(message);
                    }
                });
            });
        });
    </script>
</head>
<div class="about">
    <p>
        Builder Asisstant will calculate all sets you can build using blocks you already have. Only blocks that are part of sets you own but haven't marked as built are considered. Click below to start.
    </p>
    <a id="assist" href="/Inventory/BuilderAssistant">Assist me!</a>
</div>
@Html.Partial("_setsSearchPartial");

<table class="table" id="setsTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Theme
        </th>
        <th>
            Owned
        </th>
        <th>
            Built
        </th>
    </tr>

    @foreach (var item in ViewBag.sets)
    {
        <tr>
            <td>
                @item.LSet.Name
            </td>
            <td>
                @item.LSet.Theme.Name
            </td>
            <td>
                @item.Owned
                <i class="fa fa-plus-circle fa-lg active inventory-add" value="@item.LSet.Id" title="Add one"></i>
                <i class="fa fa-minus-circle fa-lg active inventory-remove" value="@item.LSet.Id" title="Remove one"></i>
            </td>
            <td>
                @item.Built
                <i class="fa fa-plus-circle fa-lg active built-add" value="@item.LSet.Id" title="Add one"></i>
                <i class="fa fa-minus-circle fa-lg active built-remove" value="@item.LSet.Id" title="Remove one"></i>
            </td>
        </tr>
    }

</table>

