@model Data.Domain.Part
@{
    ViewBag.Title = "Details";
}

<body>
    <div class="details"  style="text-align:center">
        @if (Model.PictureUrl != "http://legoboje.pe.hu/web/NULL.png")
        {
        <img src="@Model.PictureUrl" alt="@Model.PictureUrl" onerror="this.style.display='none'" />
        }
        <dl class="dl-horizontal">
            <dt>
                Name:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Category:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            @*<dd>
                <i class="fa fa-plus-circle fa-lg active inventory-block-add" value="@Model.Id" title="Add to my inventory"></i>
            </dd>*@
        </dl>

    </div>
</body>