@model Data.Domain.LSet
@{
    ViewBag.Title = "Set Parts";
}

<h2>@Model.Name</h2>
<div style="text-align:center">
    <img src="@Model.PictureUrl" alt="@Model.PictureUrl" onerror="this.style.display='none'" style="margin-bottom:10px"/>
    <table class="table" id="partsTable">
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Color
            </th>
            <th>
                Count
            </th>
        </tr>

        @foreach (var item in Model.LSetParts)
        {
            <tr>
                <td>
                    @item.Part.Name
                </td>
                <td>
                    @item.Part.Category.Name
                </td>
                <td>
                    @item.Color.Name
                </td>
                <td>
                    @item.Number
                </td>
            </tr>
        }

    </table>
</div>
